@base:18rem;
#container{
  .pos{
    width: 100%;
    color: #999999;
    font-size: 24px;
    border-bottom: 1px solid #e1e1e1;
    line-height: 80px;
  }
  .list{
    padding: 40px 0;
    border-bottom: 1px solid #e1e1e1;
    cursor: pointer;
    .img{
      width: 200px;
      height: 200px;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      justify-items: center;
      float: left;
      margin-right: 25px;
      img{
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .listContent{
      height: 200px;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      >div{
        padding-top: 25px;
        flex: 1;
        strong{
          font-size: 26px;
        }
        p{
          padding-top: 5px;
          color: #999;
          font-size: 20px;
        }
      }

      p{
        padding-bottom: 20px;
        color: #999999;
        line-height: 35px;
        font-size: 16px;
        span{
          padding-left: 100px;
        }
      }
    }
  }
  .el-pagination{
    padding: 40px 0;
    .el-pagination__total{
      font-size: 16px !important;
      line-height: 40px;
    }
    .btn-prev .el-icon,.el-pager li,.btn-next .el-icon,.btn-prev,.btn-next {
      font-size: 16px !important;
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
  }
}