@base: 18rem;
#container {
  .pos {
    width: 100%;
    color: #999;
    font-size: 20px;
    border-bottom: 1px solid #e1e1e1;
    line-height: 80px;
    a {
      color: #999;
    }
    >span {
      &:nth-last-of-type(1) {
        color: #72b713;
      }
    }
  }
  .list {
    border-bottom: 1px solid #e1e1e1;
    cursor: pointer;
    .listContent {
      height: 90px;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      >div {
        padding-top: 25px;
        flex: 1;
        strong {
          font-size: 18px;
          font-weight: 400;
          color: #303030;
        }
        p {
          padding-top: 5px;
          color: #d1d1d1;
          font-size: 20px;
        }
      }
      p {
        padding-bottom: 20px;
        display: flex;
        flex-flow: row nowrap;
        color: #d1d1d1;
        line-height: 35px;
        font-size: 16px;
        span {
          flex: 1 0 50%;
          &:nth-last-of-type(1) {
            flex: 0 0 15%;
          }
        }
      }
    }
  }
  .el-pagination {
    padding: 40px 0;
    .el-pagination__total {
      font-size: 16px !important;
      line-height: 40px;
    }
    .active {
      background-color: #72b713;
    }
    .btn-prev .el-icon,
    .el-pager li,
    .btn-next .el-icon,
    .btn-prev,
    .btn-next {
      font-size: 16px !important;
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
  }
}