#main {
  min-width: 1060px;
  background-color: white;
  a {
    text-decoration: none;
  } //列表
  .writingList {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
    height: 785px;
    min-width: 1060px; //列表顶部
    .writingTop {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #f1f1f1;
      height: 80px;
      font-size: 20px;
      color: #999;
      font-size: 20px;
      .topLine {
        padding: 0 5px;
        font-size: 20px;
        color: #999;
      }
      >span {
        &:nth-of-type(1) {
          cursor: pointer;
        }
        &:nth-last-of-type(1) {
          color: #72b713;
        }
      }
    } //  书画
    .news {
      display: flex;
      height: 145px;
      padding: 25px 0px;
      border-bottom: 1px solid rgb(225, 225, 225); //详情
      .newsDes {
        width: 100%;
        .newsTitle {
          font-size: 22px;
          margin-bottom: 30px;
        }
        >span {
          color: rgb(135, 135, 135);
          font-weight: 300;
          font-size: 16px;
        }
      }
    } //精彩活动
    .content-wrap {
      display: flex;
      flex-direction: row;
      height: 280px;
      padding-top: 20px; //图片
      .content-img {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #72b713;
        width: 30%;
        height: 260px;
        img {
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
          vertical-align: middle;
        }
      }
      .contentMsg2 {
        border: 1px solid #72b713;
        border-left-width: 0;
        padding: 0 20px 0 30px;
        width: 70%; //活动标题
        h4 {
          margin: 30px 0 13px 0;
          height: 40px;
          font-weight: 400;
          font-size: 20px;
          line-height: 1.5;
          color: #303030;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        } //活动信息
        >span {
          display: block;
          font-size: 16px;
          line-height: 26px;
          color: #d1d1d1;
          &:nth-last-of-type(1) {
            display: flex;
            flex-flow: row wrap;
            align-items: baseline;
            color: #909090;
            i {
              font-style: normal;
              color: #f00;
            }
            button {
              flex: 0 0 auto;
              color: white;
              background-color: #72b713;
            }
          }
        }
        .actBtn {
          margin-left: 40%;
          width: 37%;
          height: 35px;
          font-size: 18px;
          border-radius: 6px;
          vertical-align: bottom;
        }
        button {
          border: 0;
        }
      }
    }
  }
}