@base:18rem;
#container{
  .pos{
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
    font-size: 20px;
    line-height: 80px;
    color: #999;
    a{
      color: #999;
    }
    >span{
      &:nth-last-of-type(1){
        color: #72b713;
      }
    }
  }
  .noticeDetail{
    padding: 40px 0;
    h1{
      padding-bottom: 15px;
      font-size: 24px;
      text-align: center;
      color: #303030;
    }
    >p{
      color: #d1d1d1;
      text-align: center;
      span{
        &:nth-of-type(1){
          margin-right: 80px;
        }
      }
    }
    >div{
      padding: 20px  0;
    }
  }
}