@import "../../../../assets/css/init.less";


.naire{
    width: 1200px;
    margin:  0 auto;
    h2{
        font-size: 36px;
        text-align: center;
        padding: 50px 0;
    }
    .item{
        border-bottom: 1px solid #ddd;
        padding: 0 60px;
        p{
            margin-top: 30px;
            font-size: 26px;
            em{
                color: red;
                margin-right: 6px;
            }
        }
        ins{
            color: #3f76ac;
        }
        span{
            display: inline-block;
            min-width: 29.5%;
            background: url("../img/false.jpg") no-repeat 0 50%;
            padding: 30px 0 30px 40px;
            font-size: 24px;
            cursor: pointer;
        }
    }
    .active{
        background: url("../img/true.png") no-repeat 0 50%!important;
    }
    .item:last-of-type{
        border: none;
    }
    h4{
        padding: 20px 0 100px 0;
        text-align: center;
        button{
            width: 238px;
            height: 90px;
            border: none;
            background: #3f76ac;
            color: #fff;
            font-size: 33px;
            border-radius: 4px;
            cursor: pointer;
        }
    }
    textarea{
        width: 100%;
        border: 1px solid #ddd;
        height: 180px;
        margin: 30px 0 ;
        resize: none;
        padding: 20px;
        box-sizing: border-box;
    }
}


.size{
    h2{
        font-size: 40px!important;
    }
     p{
        font-size: 35px!important;
    }
    span{
        font-size: 35px!important;
    }
    button{
        font-size: 33px!important;
    }
    textarea{
        font-size: 35px!important;
    }
}