#container {
  height: 100%;
  .content {
    min-height: 665px;
    .pos {
      margin: 0 auto;
      width: 1200px;
      color: #999;
      font-size: 22px;
      border-bottom: 1px solid #f1f1f1;
      line-height: 80px;
      a {
        color: #999;
      }
      >span {
        &:nth-last-of-type(1) {
          color: #72b713;
        }
      }
    }
  }
}