#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;

  .personalMsg {
    width: 100%;
    background-color: white;
    padding: 2rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(225, 225, 225);

    > div {
      margin-bottom: 1.8rem;

      > label {
        width: 36%;
      }
    }

  }

  //未缴费
  .split {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.8rem;
    line-height: 1.3rem;
    border-bottom: 1px solid rgb(225, 225, 225);

    .inSplit {
      color: #3a71a8;
      font-size: 1.3rem;
      margin: 0 5%;
    }

    .line {
      height: 1px;
      width: 16%;
      background-color: rgb(225, 225, 225);

    }

  }

  //未缴费
  .payMsg{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 1px solid rgb(225, 225, 225);

    >span{
      margin-bottom: 0.5rem;
    }

    >button{
      align-self: center;
      font-size: 1.2rem;
      font-weight: 300;
      width: 50%;
      height: 2rem;
      border-radius: 1px;
      background-color: #3a71a8;
      color: white;
    }
  }

  //已缴费
  .payMsg2{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 1px solid rgb(225, 225, 225);
    margin-bottom: 2.6rem;

    >span{
      margin-bottom: 0.5rem;
    }
  }

}