body {
  background: #fff;
}
.test {
  background: orange;
  display: flex;
  z-index: 99;
}
.login {
  padding-bottom: 100px;
  position: relative;
}
.login form {
  background: #fff;
  padding: 45px 60px;
  width: 610px;
  margin: 0 auto;
}
.login h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}
.login .el-form-item {
  margin-bottom: 30px;
}
.login .el-form-item span {
  width: 160px;
  text-align: right;
  padding-right: 10px;
  font-size: 20px;
}
.login .el-form-item__content {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 0!important;
}
.login .el-form-item__content input {
  height: 60px;
  padding-left: 40px;
  font-size: 18px;
  border-radius: 0;
}
.login .el-form-item__content a {
  position: absolute;
  right: 0;
  font-size: 20px;
  color: #3a71a8;
}
.login .el-form-item__content .yzm {
  width: 264px;
}
.login .el-form-item__content .yzm input {
  width: 250px;
}
.login .el-form-item__content ins {
  border: 1px solid #bfcbd9;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  width: 100px;
  text-align: center;
  color: #999;
  cursor: pointer;
  font-size: 16px;
}
.login .el-form-item__content .el-radio span {
  width: 24px;
  height: 24px;
}
.login .el-form-item__content .el-radio input {
  height: auto;
}
.login .el-form-item__content .el-radio .el-radio__label {
  vertical-align: middle;
  margin-right: 100px;
}
.login .el-form-item__content .el-checkbox {
  margin-top: 50px;
  padding-left: 160px;
}
.login .el-form-item__content .el-checkbox span {
  width: 24px;
  height: 24px;
}
.login .el-form-item__content .el-checkbox__inner::after {
  height: 12px;
  left: 8px;
}
.login .el-input,
.login .el-input__inner {
  width: 367px;
}
.login button {
  height: 60px;
  line-height: 60px;
  width: 367px;
  border-radius: 5px;
  font-size: 18px;
  margin-left: 164px;
}
.login .el-checkbox__input.is-checked .el-checkbox__inner {
  background: #3a71a8;
}
.login .el-checkbox__label {
  margin-left: 8px;
}
.login .el-form-item__content p {
  float: right;
}
.login .el-form-item__content p a {
  margin-left: 20px;
}
.login .el-form-item__error {
  padding-left: 170px;
}
.el-checkbox__label {
  vertical-align: bottom !important;
}
.el-form-item__error {
  font-size: 18px;
}
.el-button {
  padding: 0;
}
.size h3 {
  font-size: 34px!important;
}
.size span {
  font-size: 24px!important;
}
.size input {
  font-size: 24px!important;
}
.size button {
  font-size: 24px!important;
}
