@base:18rem;
#container{
  .pos{
    width: 100%;
    color: #999;
    font-size: 20px;
    border-bottom: 1px solid #f1f1f1;
    line-height: 80px;
    a {
      color: #999;
    }
    >span{
      &:nth-last-of-type(1){
        color: #72b713;
      }
    }
  }
  .noticeDetail{
    padding-bottom: 40px;
    h1{
      margin-bottom: 15px;
      border-bottom: 1px solid #f1f1f1;
      padding: 20px 0;
      font-size: 24px;
      text-align: center;
      color: #303030;
    }
    >p{
      text-align: center;
      color: #d1d1d1;
      span{
        padding-left: 180px;
      }
    }
    >div{
      padding: 20px 0;
    }
  }
}