@import '../../../../assets/css/init.less';
@base: 18rem;
#container {
  .noticeDetail {
    padding-bottom: 40px;
    h1 {
      margin-bottom: 15px;
      border-bottom: 1px solid #f1f1f1;
      padding: 20px 0;
      font-size: 24px;
      text-align: center;
      color: #303030;
    }
    >p {
      font-size: 18px;
      text-align: center;
      color: #d1d1d1;
      display: flex;
      flex-flow: row nowrap;
      span {
        flex: 1 0 25%;
        &:nth-last-of-type(1) {
          flex: 0 0 auto;
        }
      }
    }
    >div {
      font-size: 18px;
      padding: 20px 0;
    }
  }
}