#main{
  min-width: 1060px;
  background-color: white;

  a{
    text-decoration: none;
  }

  //导航栏
  .el-menu-demo{
    padding-left: 12.5%;

  }

  .el-menu-item{
    font-size: 16px;
    margin-right: 10%;
  }

  //学习列表
  .learnList{
    display: flex;
    width: 75%;
    min-width: 1060px;
    margin: 0 auto;
    flex-direction: column;


    //列表顶部
    .learnTop{
      display: flex;
      align-items: center;
      height: 80px;
      border-bottom: 1px solid rgb(235,235,235);

      a{
        color: rgb(135,135,135);
        font-size: 20px;
        font-weight: 300;
        text-decoration: none;
      }

      .topLine{
        padding: 0 5px;
        font-size: 20px;
        color: rgb(135,135,135);
      }

    }

    .classVideo{
      padding: 20px 200px 30px 200px;

      >h3{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 20px;
      }


      .list{
        display: flex;
        flex-wrap: wrap;

        .inList{
          flex: 1 0 25%;
          font-size: 18px;

          a{
            color: rgb(145,145,145);
          }
        }

        //将每行最后一个子元素禁止缩放
        .inList:nth-child(4n){
          flex: 0 0 auto;
        }
      }

    }

  //  课程介绍
    .mainFoot{
      border-top: 1px solid rgb(235,235,235);
      padding: 25px 200px 90px 200px;
      font-size: 16px;
      line-height: 1.5em;

      //介绍文字
      .inActive{
        overflow: hidden;
        height: 45px;
      }
      .active{
        overflow: hidden;
      }

      .moreIntro{
        text-align: center;
        margin-top: 20px;

        >a{
          color: rgb(58,113,168);
        }
      }

    }

  }

}