#main {
  min-width: 1060px;
  background-color: white;
  a {
    text-decoration: none;
  } //成果分类按钮
  .selectBtn {
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid rgb(225, 225, 225);
    padding-left: 12.5%;
    >button {
      display: inline-block;
      color: white;
      background-color: rgb(58, 113, 168);
      width: 11%;
      height: 40px;
      margin-right: 60px;
      border-radius: 5px;
      text-align: center;
      line-height: 40px;
      font-size: 18px;
      font-weight: 300;
      border: 0;
    }
  } //列表
  .achList {
    display: flex;
    width: 75%;
    min-width: 1060px;
    margin: 0 auto;
    flex-direction: column; //列表顶部
    .achTop {
      display: flex;
      align-items: center;
      height: 80px;
      border-bottom: 1px solid rgb(225, 225, 225);
      a {
        color: rgb(135, 135, 135);
        font-size: 20px;
        font-weight: 300;
        text-decoration: none;
      }
      .topLine {
        padding: 0 5px;
        font-size: 20px;
        color: rgb(135, 135, 135);
      }
    } //  书画
    .mainFoot {
      margin-top: 40px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 40px;
      .production,
      .honor,
      .classes {
        padding: 30px 30px 40px 30px;
        width:30%;
        border: 1px solid rgb(224, 224, 224);
        h4 {
          font-size: 20px;
          padding-left: 20px;
          border-left: 5px solid black;
          margin-bottom: 25px;
        }
      } //  成果交流
      .production,
      .honor,
      .classes {
        font-size: 18px;
        position: relative;
        >ul {
          padding-left: 40px;
          margin-bottom: 20px;
          li {
            list-style: initial;
            line-height: 2em;
            font-weight: 400;
          }
          >p {
            line-height: 2em;
            font-weight: 400;
          }
        } //底部查看更多链接
        >p {
          position: absolute;
          bottom: 20px;
          left: 42%;
          a {
            color: rgb(145, 135, 135);
          }
        }
      } 
    }
    .operate-btn{
      height: 100px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      button{
        width: 10%;
        display: inline-block;
        color: white;
        background-color: rgb(58, 113, 168);
        height: 40px;
        margin-right: 60px;
        border-radius: 5px;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
        font-weight: 300;
        border: 0;
      }
    }
    .nextButton {
      height: 170px;
      padding-top: 40px;
      padding-left: 30px;
    }
  }
}