@import "../../../../assets/css/init.less";

.g-search {
  .content {
    >div {
      border-top: 1px solid #f1f1f1;
      &:nth-of-type(1){
        border-top-width: 0;
      }
      &:nth-last-of-type(1) {
        border-bottom: 1px solid #f1f1f1;
      }
    }
  }
}